---
layout: page
title: Tags
permalink: /tags/
---

{% comment %}
Create a list of all unique tags
{% endcomment %}
{% assign unique_tags = "" | split: "," %}
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% unless unique_tags contains tag %}
      {% assign unique_tags = unique_tags | push: tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}

{% assign sorted_tags = unique_tags | sort %}

<div class="tag-list">
  {% for tag in sorted_tags %}
    <div class="tag-section" id="{{ tag | slugify }}">
      <h2 class="tag-name">{{ tag }}</h2>
      <ul class="post-list">
        {% for post in site.posts %}
          {% if post.tags contains tag %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <span class="post-date">
                ({{ post.date | date: "%b %-d, %Y" }})
              </span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div> 