---
layout: page
title: Tags
permalink: /tags/
---

{% assign tags = site.tags | sort %}

<div class="tag-list">
  {% for tag in tags %}
    <div class="tag-section" id="{{ tag[0] | slugify }}">
      <h2 class="tag-name">{{ tag[0] }}</h2>
      <ul class="post-list">
        {% for post in tag[1] %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date">
              ({{ post.date | date: "%b %-d, %Y" }})
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div> 