@import "minima";

.post-tag {
  display: inline-block;
  background-color: #f1f1f1;
  color: #555;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 12px;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 500;
}

.post-tag:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}

.post-tags {
  margin-top: 5px;
  margin-bottom: 10px;
}
